header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('../assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
    height: 90px;
}

.logo {
    background-image: url('../assets/svg/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;  
    transition: 0.3s;
    width: 50px;
    height: 50px;
  }

  .logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
      cursor: pointer;
  }

.menu-container {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    
}

.nav-item {
    list-style: none;
    padding-right: 30px;
}

.nav-link {
    text-decoration: none;
}

.lang {
    padding-right: 34px;
}

.lang-item-active {
    color: var(--gld);
}

.theme-btn {
    background-image: url('../assets/svg/sun.svg');
    background-size: contain;
    background-repeat: no-repeat;  
    transition: 0.3s;
    width: 40px;
    height: 40px;
    }

.theme-btn:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
      cursor: pointer;
  }