
.container-bg-hero {
  background-image: url('../assets/img/bg.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
}

.hero-container {
    padding: 145px 0 330px 60px;
  }

.hero__section-title {
  margin-bottom: 35px;
}

.hero-container .hero-text {
    width: 480px;
    margin: 0 0 25px 0;
}

