.price .price__section-title-wrapper {
    padding-bottom: 45px;
    padding-top: 77px;
}

.price-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 100px;
}

.price-card {
    text-align: center;
    width: 450px;
    height: 505px;
    border: 2px var(--gld) solid;
    padding: 25px 0 0 0;
}

.price-card__title {

}

.price-card__price {
    padding: 5px 0 0 0;
    margin-bottom: 30px;
}

.price-card__description {
    display: block;
}

.price-card__order-button {
    margin: 35px auto 0;

}